<div class="register-card-container">
  <img
    src="assets/gastos.png"
    height="100"
    class="logo"
  />
  <mat-card class="register-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title class="title">Password reset</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field
        class="form-field white-backgrounded-field green-bordered-field"
        appearance="outline"
      >
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" [(ngModel)]="email" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>
      <mat-card-actions class="button-container">
        <div class="button" (click)="forgotPassword()">Send Link</div>
      </mat-card-actions>
    </mat-card-content>
    <mat-card-content>
      <mat-card-actions class="button-container">
        <a href="/login">Back to login</a>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
