<mat-drawer-container class="example-container" [hasBackdrop]="isSmallScreen">
  <mat-drawer
    #drawer
    class="drawer"
    [mode]="sideNavMode"
    [opened]="!isSmallScreen"
  >
    <div
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <img src="assets/gastos.png" height="70" class="logo" />
      <div>
        <button
          mat-icon-button
          class="menu-button"
          style="margin-right: 20px; margin-top: 20px"
          (click)="drawer.toggle()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>

    <div class="button-group">
      <a class="active">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="home"
          class="icon"
        ></mat-icon>
        <div>Dashboard</div>
      </a>
      <a routerLink="/expenses" class="list-item">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="shopping_cart"
          class="icon"
        ></mat-icon>
        <div>Expenses</div>
      </a>
      <a routerLink="/income" class="list-item">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="payments"
          class="icon"
        ></mat-icon>
        <div>Income</div>
      </a>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="welcome-container">
      <div>
        <button mat-icon-button class="menu-button" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="dashboard-title">Dashboard</div>
      <div class="profile-container">
        <span *ngIf="userData && userData.displayName" class="profile-greetings"
          >Hello,
          <span class="profile-greetings-name">
            {{ userData.displayName }}
          </span>
        </span>
        <span
          *ngIf="(!userData || !userData.displayName) && !isLoading"
          class="profile-update-alert"
          >Update your profile
        </span>
        <span
          *ngIf="(!userData || !userData.displayName) && isLoading"
          class="profile-greetings"
          >Loading...
        </span>
        <input
          type="image"
          src="assets/black-profile.jpg"
          height="60"
          mat-button
          [matMenuTriggerFor]="beforeMenu"
          class="profile"
        />
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button mat-menu-item (click)="editProfile()">Edit Profile</button>
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </div>
    </div>
    <div class="dashboard-container">
      <div class="finance-container">
        <div class="finance-panels-container">
          <div class="panel-container">
            Total Balance:
            <span *ngIf="isLoading" class="balance">&nbsp; ... </span>
            <span *ngIf="!isLoading" class="balance"
              >&nbsp;{{ totalBalance | number : "1.0" : "en-US" }}
            </span>
          </div>
          <div class="panel-container">
            Total Expenses:
            <span *ngIf="isLoading" class="income-expense">&nbsp; ... </span>
            <span *ngIf="!isLoading" class="income-expense"
              >&nbsp;{{ totalExpenses | number : "1.0" : "en-US" }}</span
            >
          </div>
          <div class="panel-container">
            Total Income:
            <span *ngIf="isLoading" class="income-expense">&nbsp; ... </span>
            <span *ngIf="!isLoading" class="income-expense"
              >&nbsp;{{ totalIncome | number : "1.0" : "en-US" }}</span
            >
          </div>
        </div>
      </div>
      <div class="analysis-container">
        <div class="chart-container">
          <canvas id="expensesChart" width="560" height="300"></canvas>
        </div>
        <div class="chart-container">
          <canvas id="incomeChart" width="560" height="300"></canvas>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<app-edit-profile
  *ngIf="isEditProfile"
  (toggleEditProfile)="editProfile()"
  [displayName]="displayName"
>
  ></app-edit-profile
>
