.example-container {
  width: auto;
  height: 100%;
  /* The background property is added to clearly distinguish the borders between drawer and main
     content */
  background: #eee;
}

.logo {
  margin-top: 20px;
  margin-left: 10px;
}
.profile-container {
  margin-left: auto;
}

.profile {
  border-radius: 50%;
  border: #000000 solid 1px;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.profile:hover {
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.9);
}
.drawer {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.button-group {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  height: 75%;
}

ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

a {
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Optional: inherit the color from the parent element */
}

.active {
  outline: 1px solid #000000;
  background-color: #adff2f;
  font-weight: 700;
  box-shadow: -1px 5px 0px 1px rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 40px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 20px;
  font-size: large;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.list-item {
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 40px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 20px;
  font-size: large;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.icon {
  margin-right: 15px;
}

.list-item:hover {
  background-color: #d1d1d1;
}

.logout-container {
  display: flex;
}

.logout-button {
  display: flex;
  align-items: center;
  text-align: center;
  color: hsla(0, 0%, 0%, 0.6);
  cursor: pointer;
  margin-left: 40px;
  transition: all 0.1s ease-in-out;
  font-size: large;
}
.logout-button:hover {
  color: rgba(255, 0, 0, 0.534);
}
.expenses-container {
  display: flex;
  align-items: center;
  margin: 40px;
}

.expenses-title {
  font-size: x-large;
  font-weight: 800;
}

.welcome-container {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px;
  margin: 20px;
}

.transaction-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.total-expenses-container {
  display: flex;
  justify-content: center;
}

.total-expenses {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 75%;
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 1);
  border: #000000 solid 1px;
  font-size: x-large;
  font-weight: 700;
}

.total-expenses-amount {
  color: #ff362f;
}

.expenses-panel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  width: 75%;
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 1);
  border: #000000 solid 1px;
}

.expenses-item-container {
  width: 100%;
  max-height: 558px; /* Adjust the max height as needed */
  overflow: auto;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loading-label {
  font-size: xx-large;
}

.virtual-scroll-container {
  height: 100%;
  width: 100%;
}

.expenses-item {
  width: 98%;
  margin-left: 1px;
  padding: 20px;
  outline: 1px solid #000000;
  border-radius: 0.75rem;
  box-shadow: 0px 5px 0px 1px rgba(0, 0, 0, 0.9);
  background: #eee;
  min-height: 120px;
}

.expenses-item-title-container {
  display: flex;
  align-items: center;
}

.expenses-item-title {
  font-size: large;
  font-weight: 600;
}

.expenses-item-details-container {
  display: flex;
  align-items: center;
}

.expenses-item-details {
  display: flex;
  flex-direction: column;
}

.expenses-item-details .amount {
  margin-right: 40px;
  display: flex;
  align-items: center;
  font-size: large;
}
.expenses-item-details .date {
  margin-right: 40px;
  display: flex;
  align-items: center;
  font-size: large;
}
.expenses-item-details .description {
  margin-right: 40px;
  display: flex;
  align-items: center;
  font-size: large;
}

.expenses-item-details .delete {
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: large;
  outline: 1px solid #000000;
  background-color: #ff5954;
  border-radius: 0.5rem;
  padding: 3px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.expenses-item-details .delete:hover {
  background-color: #ff342d;
  box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.9);
}

.transaction-title {
  font-size: x-large;
  font-weight: 800;
}

.category {
  font-size: small;
  font-weight: 500;
  background-color: #ff9c9c;
  outline: 1px solid #000000;
  padding: 2px;
  border-radius: 0.3rem;
  margin: 5px;
}

.button {
  outline: 1px solid #000000;
  background-color: #adff2f;
  font-weight: 500;

  display: flex;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-size: large;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  box-shadow: 0px 5px 0px 1px rgba(0, 0, 0, 0.9);
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.expenses-card {
  width: 100%;
  outline: 1px solid #000000;
  border-radius: 0.75rem;
  box-shadow: 0px 5px 0px 1px rgba(0, 0, 0, 0.9);
  background: #eee;
}
.required {
  margin-top: 10px;
  margin-bottom: 10px;
  color: red;
  font-size: large;
}

.form-field {
  width: 100%;
  font-size: large;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mat-list-item {
  align-items: flex-start;
}

.mat-list-item .mat-list-item-content {
  align-items: flex-start;
}

.my-swal {
  background-color: rgba(0, 0, 0, 0.8); /* Dark semi-transparent background */
}

.toast-popup {
  border-radius: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1024px) {
  .menu-button {
    display: none;
  }

  .drawer {
    width: 300px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  .expenses-card {
    width: 400px;
    padding: 20px;
    outline: 1px solid #000000;
    border-radius: 0.75rem;
    box-shadow: 0px 5px 0px 1px rgba(0, 0, 0, 0.9);
    background: #eee;
  }

  .expenses-panel-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    width: 75%;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 1);
    border: #000000 solid 1px;
  }

  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .expenses-item-container {
    width: 100%;
    margin-left: 20px;
    max-height: 558px; /* Adjust the max height as needed */
    overflow: auto;
  }

  .expenses-item {
    width: 98%;
    margin-left: 1px;
    padding: 20px;
    outline: 1px solid #000000;
    border-radius: 0.75rem;
    box-shadow: 0px 5px 0px 1px rgba(0, 0, 0, 0.9);
    background: #eee;
    min-height: 96px;
  }

  .category {
    font-size: medium;
    font-weight: 500;
    background-color: #ff9c9c;
    outline: 1px solid #000000;
    padding: 2px;
    border-radius: 0.5rem;
    margin: 10px;
  }

  .expenses-item-title {
    font-size: x-large;
    font-weight: 600;
  }

  .expenses-item-details {
    display: flex;
    flex-direction: row;
  }

  .expenses-item-details .delete {
    margin-right: 10px;
    display: flex;
    align-items: center;
    font-size: large;
    outline: 1px solid #000000;
    background-color: #ff5954;
    border-radius: 0.5rem;
    padding: 3px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    margin-bottom: 10px;
  }
  .filler {
    display: none;
  }
}

.filler {
  height: 100px;
}
